//for Wide screens
@include mediaXL {
 
}
//Desktop & Laptops screens
@include mediaLarge {
 
}
//Tablets & Small laptops
@include mediaMedium {
      main{
            align-items: center;
            text-align: center;

            .large-heading{ 
                  line-height: 1;
                  margin-bottom: 1rem;
            }
      }
      ul.site-menu__section--links,
      div.site-menu__section--branding{
            float: none;
            width: 100%;
            min-height: 0;

            &.show{
                  transform: translate3d(0,0,0);
            }
      }
      
      .site-menu__section--links{
            height: 75vh;
            transform: translate3d(-100%,0,0);
            font-size: 24px;
      }
      .site-menu__section--branding{
            height: 25vh;
            transform: translate3d(100%,0,0);

            .portrait{
                  background: url('/dist/images/portrait-close.jpg');
                  width: 150px;
                  height: 150px;
                  transform: scale(0.75);
            }
      }
}
//Smart phones
@include mediaSmall {
      main#home h1{
            margin-top: 10vh;
      }
}